.container{
    width: 960px;
}
body{
    font: 12px/1.5 "Lucida Grande",Helvetica,Arial,Verdana,\5FAE\8F6F\96C5\9ED1,sans-serif;
    background: url(../img/index-bg.png) 0 -5px repeat-x;
}
a:link, a:visited {
    color: #666666;
    text-decoration: none;
}
body,a{
    font-family: 'Lucida Grande', Helvetica, Arial, Verdana, 微软雅黑, sans-serif;
    font-size: 12px;
}
.container-fluid{
    padding: 0;
}
header{
    border-bottom: 2px solid rgb(217,217,217);
}
header .logo img{
    width: 170px;
}
header .phone{
    text-align: right;
    height: 38px;
    font-size: 12px;
    line-height: 38px;
}
header .phone span{
    margin-left: 5px;
}
header .nav .menu ul{
    border: 1px solid rgb(226,226,226);
    border-radius: 5px;
    padding: 0px;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    /*box-shadow: 3px 3px 8px #666;*/

}
header .nav .menu ul li{
    float: left;
    list-style: none;
    width: 123px;
    height: 40px;
    text-align: center;
    cursor: pointer;

}

header .nav .menu ul li:not(.active):hover{
    background-color: rgb(232,232,232);
    border: 1px solid rgb(221,221,221);
}

header .nav .menu ul li.active{
   background: #81b332;
}
header .nav .menu ul li.active a{
    color:#fff;
    /*text-shadow: 1px 1px 0 rgb(255,78,0);*/

}
header .nav .menu ul li a{
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
    overflow: hidden;
    color: #4b4b4b;
    font-weight: bold;
    /*text-shadow: 1px 1px 0 #fff;*/
    display:block;
}
header .block{
    height: 20px;
}
#banner {
    padding-bottom: 10px;
}
#banner img{
    max-height: 500px;
}


#banner .swiper-pagination {
    position: absolute;
    z-index: 20;
    left: 50%;
    bottom: 10px;
}
#banner .swiper-pagination .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 8px;
    border: 1px solid #ffffff;
    cursor: pointer;
}
#banner  .swiper-pagination .swiper-active-switch {
    background: #fff;
}
#content .left,.min,.right{
    border: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    padding: 0;
}
#content{
    padding-bottom: 30px;
}

#content .title{
    border: solid 1px #FFF;
    border-bottom: solid 0px #FFF;
    padding: 12px 20px;
    font-weight: bold;
    height: 48px;
    font-size: 15px;
    font-family: "微软雅黑", Arial;
    background-color: rgb(240, 240, 240);
}
#content .content{
    background-color: rgb(247, 247, 247);
    line-height: 26px;
    font-size: 12px;
    font-family: 微软雅黑;
    padding: 10px 0px 10px 0px;
    min-height: 234px;
}
#content .content img{
    padding: 2px;
    border: #cccccc 1px solid;
    width: 100%;
    height:80px ;
}
#content .content .name{
    text-align: center;
}
#content .min .content div{
    padding: 0 10px;
    text-align: center;
}
#content .right .content ul{
    padding-left: 20px;
    padding-right: 20px;
}
#content .right .content ul li{
    border-bottom:dotted 1px #CCC;
}
#content .right .content ul li .time{
    float: right;
}

/*关于我们样式*/
.greyBg{
    background: #f2f2f2 url(../img/greybg_shadow.gif) bottom repeat-x;
    padding-bottom: 10px;
    text-align: center;
}
.leftmenu{
    float: left;
    width: 20%;
}
.leftmenu ul{
    list-style: none;
    padding: 0;
    overflow: hidden;
}
.leftmenu ul li a{
    display: block;
    width: 199px;
    padding: 0px 0px 0px 25px;
    height: 35px;
    line-height: 35px;
    background: url(../img/leftmenuoff2.jpg) 0px 0px no-repeat;
    color: #000!important;
    font-family: 微软雅黑;
    font-size: 14px;
}
#aboutContent{
    min-height: 500px;
}
#aboutContent .title{
    height: 48px;
    line-height: 30px;
    white-space: nowrap;
    font-size: 28px;
    font-family: 微软雅黑;
    font-weight: normal;
    color: #646464;
}
#aboutContent .map{
    text-align: right;
    height: 48px;
    line-height: 30px;
}

.listContent .name{
    padding: 5px 5px;
    background: #F4F2EC;
    font-size: 14px;
}
.listContent img{
    width: 100%;
    height: 140px;
}
.listContent .content{
    padding: 2px;
    border: #cccccc 1px solid;
    margin-bottom: 10px;
}
.newslist{
    height: 92px;
    float: left;
    padding-bottom: 7px;
    background: url(../img/dotted_h.gif) 0px 92px repeat-x;
    margin-top: 25px;;
}
.newsContain h3{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #222222;
    font-weight: normal;
    height: 32px;
    line-height: 26px;
    margin: 0 0;
    font-weight: bold;
}
.newsContain p {
    height: 44px;
    overflow: hidden;
    color: #9c9b99;
}
.newsTime{
    background: url("../img/news_timebgoff.gif") left top no-repeat;
    height: 41px;
    text-align: center;
    float: left;
    margin-top: 5px;
}
.nt02 {
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    color: #292929;
}
.newsTime span {
    display: block;
    width: 100%;
}
.nt01 {
    height: 12px;
    line-height: 12px;
    font-size: 9px;
    font-family: Verdana;
    color: white;
}
footer{
    text-align: center;
    border-top: 1px solid #d6d6d6;
    color: rgb(153, 153, 153);
    padding: 20px 0;
    background-color: rgb(249, 249, 249);
}
footer .footerNav span{
    margin: 0 10px;
}
footer .footerNav{
    color:rgb(102, 102, 102);
}
footer .footerNav span a{
    margin-right: 20px;
}
footer .footerNav span:after{
    content:"|";
 }
footer .footerNav span:last-child:after{
    content:"";
}
footer .powerBy a{
    color: rgb(153, 153, 153);
}
